@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  font-family: 'Righteous', cursive;
}

.container {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
  width: 50%;
}

.text-container {
  width: 50%;
}

.title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3em;
}

.welcome-text {
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  text-align: center;
}

.create-profile-button {
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid black;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  display: inline-block;
  min-height: 26px;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid black;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  display: inline-block;
  min-height: 50px;
}

.buttons button:hover {
  background-color: green;
}

.create-profile-button:hover {
  background-color: green;
}